@font-face {
  font-family: "Poppins";
  src: url('../font/Poppins-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: white;
}

.login-container {
  display: flex;
  align-items: center;
}

#login-img {
  height: 100%;
  justify-content: left;
  padding-right: 200px;
}

#login-img img {
  width: auto;
  height: 100vh;
}

#user-fields {
  text-align: center;
  width: 500px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
  border-bottom: 2px solid #ccc;
  position: relative;
  margin: 15px auto;
  display: flex;
  align-items: center;
  width: 500px;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  transform: translateY(-120%);
  font-size: 0.8rem;
  top: 10px;
}

.input-field img {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

button {
  background: #163e6f;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 50px auto 0;
  width: 200px;
  display: block;
}

button:hover {
  background: rgba(94, 135, 186, 1);
  color: #fff;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.welcome-img img {
  width: 500px;
  margin-top: -200px;
  margin-bottom: 100px;
}

#notificationContainer {
  position: absolute; 
  top: 20px; 
  right: 20px; 
  z-index: 1000; 
}

.notification {
  background-color: rgb(3, 152, 197); 
  color: white;
  padding: 15px;
  margin: 10px 0; 
  border-radius: 5px;
  position: relative;
  animation: fadeIn 0.5s; 
}

.close-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
