@import url('job-cards.css');
@import url('event-cards.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* posts navbar */
.navigation {
    padding: 16px 80px 0 80px;
    margin-top: -20px;
}

#ul-posts {
    display: flex;
    flex-direction: row;
    height: 50px;
    list-style: none;
}

#ul-posts li {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    transition: 150ms;
}

#ul-posts li:hover {
    background-color: #0661d931;
}

#ul-posts li:active {
    background-color: #0661d9;
}

#ul-posts li p {
    display: inline-block;
    color:rgba(0, 0, 0, 0.4);
    padding-top: 3px;
    height: 100%;
}

#ul-posts li img {
    height: 30px;
    width: auto;
}

.selected-tab {
    background-color: #0661d9;
    color: white;
}