/** Author: Cariel Joyce Maga 
*   This defines the style and layout for the Applicant page  
*/
@font-face {
    font-family: "Poppins";
    src: url('../font/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: white;
    display: flex;
}

.header {
    margin: 25px 70px;
    transition: margin-left 0.3s ease;
    font-size: 20px;
    color: #343434;
}

.header p {
    font-size: 20px;
    color: #CCCCCC;
}

.main-content {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-top: 10px;
}

.vertical-line {
    width: 1px; 
    height: 83vh; 
    background-color: #CCCCCC; 
    margin-left: 1%; 
}

table {
    border-collapse: collapse;
    margin-left: 5vw;
    padding: 5vw;
    width: 90%;
    margin-top: 2vw;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    text-align: center;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.view-photo-btn {
    background-color: #3898e7;
    color: #fff;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.view-photo-btn:hover {
    background-color: #2277bd;
}

.status-icon {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    padding: 0;
    cursor: pointer;
}

.status-icon.accept {
    background-image: url('../../res/checkmark.png');
    margin-right: 25px;
}

.status-icon.reject {
    background-image: url('../../res/xmark.png');
}

#notificationContainer {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    z-index: 1000; 
}

.notification {
    background-color: rgb(3, 152, 197); 
    color: white;
    padding: 15px;
    margin: 10px 0; 
    border-radius: 5px;
    position: relative;
    animation: fadeIn 0.5s; 
}

.close-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-content img {
    max-width: 90%;
    max-height: 80vh;
    border-radius: 5px;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}