@font-face {
    font-family: "Poppins";
    src: url('../font/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: white;
    display: flex;
}

.header {
    margin: 25px 70px;
    transition: margin-left 0.3s ease;
    font-size: 20px;
    color: #343434;
    display: flex;
    justify-content: space-between;
}

.header.date {
    align-items: center;
    text-align: right;
    float: right;
    color: #343434;
}


.main-content {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-top: 10px;
}


.vertical-line {
    width: 1px; 
    height: 83vh; 
    background-color: #CCCCCC; 
    margin-left: 1%; 
}

.total-count-section {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-icon {
    font-size: 32px;
    margin-bottom: 10px;
    color: #55abd3;
}

.card-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.card-count {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#notificationContainer {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    z-index: 1000; 
}

.notification {
    background-color: rgb(3, 152, 197); 
    color: white;
    padding: 15px;
    margin: 10px 0; 
    border-radius: 5px;
    position: relative;
    animation: fadeIn 0.5s; 
}

.close-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
