/* Author: Cariel Joyce Maga, Sean Aromin and Cazandra Jae Lapig 
  Description: Defines the styles and layout for the users section of the website. This includes all such as 
  the tables, nav bar, search, filter, buttons and pop ups. */
body {
  height: 100vh;
  background-color: #f8f9fa;
  display: flex;
}

.header {
  margin: 25px 70px;
  transition: margin-left 0.3s ease;
  font-size: 20px;
  color: #343434;
}

.header p {
  font-size: 20px;
  color: #cccccc;
}

.navigation {
  padding: 16px 20px 0 70px;
  margin-top: -20px;
}

#ul-users {
  display: flex;
  flex-direction: row;
  height: 50px;
  list-style: none;
}

#ul-users li {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  transition: 150ms;
  margin-right: 20px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

#ul-users li:hover {
  background-color: #0661d931;
}

#ul-users li p {
  display: inline-block;
  color: rgba(0, 0, 0, 0.4);
  padding-top: 3px;
  height: 100%;
}

#ul-users li.active p {
  color: #0661d9;
}

#ul-users li img {
  height: 30px;
  width: auto;
}

.selected-tab {
  color: #0661d9;
  border-bottom: 3px solid #0661d9;
}

.searchfilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  margin-top: 20px;
}

.total-users {
  color: #1c1d1f;
  font-size: 16px;
  font-weight: 800;
  margin-left: 20px;
}

.searchfilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  margin-top: 20px;
}

.total-users {
  color: #1c1d1f;
  font-size: 16px;
  font-weight: 800;
  margin-left: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.search-input {
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  font-size: 16px;
  width: 300px;
}

.search-icon {
  position: absolute;
  width: auto;
  height: auto;
  margin-left: 10px;
}

/* Filter */
.filter-btn {
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #2d3748;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-icon {
  width: auto;
  height: auto;
}

.filter-dropdown {
  position: absolute;
  top: calc(100% + 0.5rem);
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 375px;
  padding: 2rem;
  display: none;
}

.filter-dropdown.show {
  display: block;
}

.filter-dropdown h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 0.5rem;
}

.filter-content {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  margin-left: 10px;
}

.filter-section h4 {
  font-size: 16px;
  color: #3c4552;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #3182ce;
  display: inline-block;
}

.filter-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-section li {
  font-size: 14px;
  color: #2d3748;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.filter-section li:hover {
  text-decoration: underline;
}

.filter-section ul li.active {
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.section-title h2 {
  font-size: 20px;
  color: #1a1a1a;
  font-weight: 600;
}

table {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  border-collapse: collapse;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

th {
  background-color: #f1f5f9;
  padding: 1rem 2rem;
  text-align: left;
  font-weight: 600;
  color: #4a5568;
  border-bottom: 2px solid #e2e8f0;
}

td {
  padding: 1rem 2rem;
  border-bottom: 1px solid #e2e8f0;
  color: #2d3748;
  font-size: 16px;
}

tbody tr:hover {
  background-color: #f1f5f9;
}

.add-manager-button {
  background-color: #3b82f6;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.65rem 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.add-manager-button:hover {
  background-color: #2563eb;
}

.add-manager-icon {
  width: 1rem;
  height: 1rem;
}

.add-manager-button-container.hidden {
  display: none;
}

.modal.hidden {
  display: none;
}

/* here */
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center; 
  align-items: center; 
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 400px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px; 
  box-sizing: border-box;
  width: auto;
  max-width: 600px;
  max-height: calc(90vh);
  max-height: 80%; 
  overflow-y: auto;
  position: relative; 
}

.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}


.profile-details h2 {
  margin: 0;
  font-size: 1.5em;
}

.details-section {
  margin-top: 10px;
}

.header-split {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.header-image img {
  width: 40px;
  margin-right: 10px;
}

.header-text h3 {
  margin: 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  color: #aaa;
  cursor: pointer;
}

.close-btn:hover {
  color: #333;
}

/* Form Styling */
.modal form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.modal form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

#togglePassword {
  margin: 10px 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #007bff;
  text-decoration: underline;
  font-size: 14px;
}

#togglePassword:hover {
  color: #0056b3;
}

#togglePassword1 {
  margin: 10px 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #007bff;
  text-decoration: underline;
  font-size: 14px;
}

#togglePassword1:hover {
  color: #0056b3;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

/* Specific Modals for Add and Edit */
#addManagerModal .submit-button {
  background-color: #007bff;
}

#editManagerModal .submit-button {
  background-color: #007bff;
}

#deleteManagerModal .button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#deleteManagerModal .delete-button {
  background-color: #f44336;
  color: #fff;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#deleteManagerModal .delete-button:hover {
  background-color: #d32f2f;
}

#deleteManagerModal .cancel-button {
  background-color: #e0e0e0;
  color: #000;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#deleteManagerModal .cancel-button:hover {
  background-color: #cfcfcf;
}
.hidden {
  display: none;
}

#userDetails {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  overflow-y: auto;
  bottom: 50%;
  right: 50%;
  z-index: 1;
}

/* Action Buttons in Manager*/
button {
  font-size: 14px;
  padding: 8px 16px;
  margin: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-manager-btn {
  background-color: #007bff;
  color: white;
}

.edit-manager-btn:hover {
  background-color: #0056b3;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.delete-manager-btn {
  background-color: #f44336;
  color: white;
}

.delete-manager-btn:hover {
  background-color: #e53935;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* here */
#userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start; 
  height: auto; 
  width: 80%;
  padding: 10px;
  text-align: left; 
  gap: 10px; 
  box-sizing: border-box; 
}

.circle-pic {
  width: 120px; 
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-section {
  display: flex;
  align-items: flex-start; 
  padding-top: 20px;
  gap: 5px;
  flex-wrap: wrap; 
}

.profile-picture {
  margin-right: 20px; 
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.profile-details h2 {
  margin: 0;
  font-size: 1.8em; 
  font-weight: bold;
  color: #333; 
}

.profile-details p {
  margin: 5px 0; 
  font-size: 1em;
  color: #555; 
}


.details-section h3 {
  margin-bottom: 10px;
}

.details-section {
  margin: 20px 0;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  width: 130%; 
  overflow: hidden; 
}

.details-table {
  width: 100%; 
  border-collapse: collapse; 
  table-layout: fixed; 
}

.details-table th,
.details-table td {
  padding: 10px; 
  text-align: left;
  border-bottom: 1px solid #ddd; 
}

.details-table th {
  background-color: #f4f4f4; 
  font-weight: 600;
  font-size: 0.9rem; 
}

.details-table td {
  color: #555; 
  font-size: 0.9rem;
}

.details-table tr:last-child td {
  border-bottom: none; 
}

.details-section h3 {
  margin-bottom: 15px; 
  color: #333;
}

.details-section p strong {
  color: #000000; 
}

.details-section img {
  width: 40px;
  height: auto;
  margin-right: 15px;
}

.header-split {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.header-image img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.header-text h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

.details-section p {
  margin: 5px 0; 
  line-height: 1.5; 
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .details-table th,
  .details-table td {
    font-size: 0.8rem; 
    padding: 8px; 
  }

  .header-text h3 {
    font-size: 1rem; 
  }
}
