/* posts navbar */
.navigation {
    padding: 16px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ul-posts {
    list-style: none;
}

#ul-posts li {
    display: inline-flex;
    margin-right: 15px;
}

#ul-posts li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#ul-posts li a img {
    height: 30px;
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
}

/* posts job listing */
.joblisting {
    background-color: white;
    margin-left: 5%;
    margin-top: 1%;
    padding: 3%;
    width: 158vh;
    max-width: auto;
    max-height: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.listing-title h3 a {
    color: #333;
    font-weight: 100;
}

.listing-com-loc h5 {
    color: #7e7575;
}

.listing-summary p {
    margin-left: 2%;
    margin-top: 1%;
    color: lighten(#333, 10%);
}

.button {
    text-align: right;
    border: none;
    padding: 16px 32px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 2%;
}

.bdesign {
    color: white;
    background-color: #0662D9;
    border: 2px solid #0662D9;
    height: 4vh;
    width: 10%;
    border-radius: 10px;
}

.bdesign:hover {
    background-color: #5E87BA;
}

.more-options {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.more-options img {
    width: 20px;
    height: 20px;
}