* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: white;
    display: flex;
}

.navbar {
    width: 250px;
    height: 100%;
    background-color: #0066ff;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    transition: width 0.3s ease;
    z-index: 1000;
}

.navbar.collapsed {
    width: 100px;
}

.content-container {
    margin-left: 250px; 
    transition: margin-left 0.3s ease;
}

.navbar.collapsed + .content-container {
    margin-left: 100px; 
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.logo img {
    width: 80px;
    height: 70px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

.collapsed .logo-text {
    opacity: 0;
    display: none;
}

/* Collapse Arrow */
.nav-toggle {
    position: absolute;
    right: -35px;
    top: 30px;
    background: #D9D9D9;
    border: none;
    width: 35px;
    height: 35px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-image: url('/res/left.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar.collapsed .nav-toggle {
    background-image: url('/res/right.png');
}


/* Nav Bar Sections */
.nav-links {
    list-style: none;
    padding: 0px 25px 0px;
}

.nav-links li {
    margin-bottom:32px;
}

.nav-links a {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
}

.nav-links a:hover {
    background-color: rgba(255,255,255,0.1);
}

.nav-links a.active {
    background-color: white;
    color: #0066ff;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-right: -5px;
}

.nav-links span {
    transition: opacity 0.3s ease;
}

.collapsed .nav-links span {
    opacity: 0;
    display: none;
}


/* User Profile */
.user-profile {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 30px;
}

.user-info {
    transition: opacity 0.3s ease;
}

.collapsed .user-info {
    opacity: 0;
    display: none;
}

.user-name {
    font-weight: bold;
}

.user-role {
    font-size: 12px;
    opacity: 0.8;
}

.header {
    margin: 25px 70px;
    transition: margin-left 0.3s ease;
    font-size: 20px;
}